<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Mato Online</title>
    <meta name="viewport"
        content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./index.css" />
</head>

<body>
    <div class="container">

        <header>
            <h1 class="has-text-centered">MATO ONLINE</h1>
        </header>

        <main>
            <label id="timer">30:00</label>
            <button id="startbutton">Start</button>
        </main>
    </div>

    <script src="./index.js"></script>
</body>

</html>